* {
  margin: 0;
  padding: 0;
  font-family: 'Kalam', sans-serif, cursive;
}

#container {
  position: absolute;
  z-index: -99;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#710018), color-stop(#970022), color-stop(#970022), to(#710018));
  background: linear-gradient(#710018, #970022, #970022, #710018);
}

.information-uitleg {
  width: 60%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 48px;
  margin-top: 3rem;
  margin-left: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information-uitleg-text {
  width: 80%;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
  font-family: sans-serif
}

.information-uitleg-text h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.information-uitleg-text p {
  width: 60%;
  font-style: italic;
  font-family: sans-serif;
}

#gui {
  position: absolute;
  left: 40%;
  font-size: 16px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: lighter;
  background-color: black;
  color: rgba(255, 255, 255, .9);
}


.information {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  width: 40%;
  height: 100%;
  margin-left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.information-content {
  width: 90%;
  margin: auto;
}

.SpRecognition {
  margin: 32px auto 0;
  margin: 2rem auto 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start
}

.SpRecognition label {
  color: white;
  font-size: 22.4px;
  font-size: 1.4rem;
}

.SpRecognition input[type="text"] {
  border-radius: 0.5em;
  padding: 0.4em 1em;
  width: 40%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.6px;
  margin-bottom: 0.1rem;
  border: 1px solid #42000d;
  -webkit-box-shadow: 0 2px 0 0 #42000d;
          box-shadow: 0 2px 0 0 #42000d;
  background-color: rgba(99, 0, 23, .7);
}

.SpRecognition input[type=text]:focus {
  background-color: #970022;
  color: #fff;
  border-radius: 0.5em;
  border: 1px solid #42000d;
  -webkit-box-shadow: 0 2px 0 0 #42000d;
          box-shadow: 0 2px 0 0 #42000d;
}

.recipient {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

textarea {
  border-radius: 0.5em;
  width: 90%;
  color: white;
  padding: 16px 0 0 16px;
  padding: 1rem 0 0 1rem;
  background-color: rgba(99, 0, 23, .7)
}

textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}

textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

textarea::-ms-input-placeholder {
  text-transform: uppercase;
}

textarea::placeholder {
  text-transform: uppercase;
}

textarea:focus {
  background-color: #970022;
  color: #fff;
  border-radius: 0.5em;
  border: 1px solid #42000d;
  -webkit-box-shadow: 0 2px 0 0 #42000d;
          box-shadow: 0 2px 0 0 #42000d;
  outline: none;
}

input:focus {
  outline: 0;
}

input:focus::-webkit-input-placeholder {
  color: #fff;
}

input:focus:-ms-input-placeholder {
  color: #fff;
}

input:focus::-ms-input-placeholder {
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

.border {
  font-size: 16px;
  border: 2px solid #42000d;
  -webkit-box-shadow: 0 3px 0 0 #42000d;
          box-shadow: 0 3px 0 0 #42000d;
}

.border::-webkit-input-placeholder {
  color: #960027;
}

.border:-ms-input-placeholder {
  color: #960027;
}

.border::-ms-input-placeholder {
  color: #960027;
}

.border::placeholder {
  color: #960027;
}

.recording {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 20%;
  margin-top: 16px;
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between
}

.recording audio {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.recording audio::-webkit-media-controls-panel {
  border-radius: 0.5em;
  background-color: rgba(66, 0, 13, .8);
}

button {
  margin-top: 0.5em;
  font-size: 16px;
  font-size: 1rem;
  background-color: #970022;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em;
  width: 40%;
}

.topbuttons .button {
  width: 40%;
}

.sound-adjustments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 50%;
  margin-left: 50%;
  margin-top: 8px;
  margin-top: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between
}

.sound-adjustments select {
  font-family: sans-serif;
  width: 128px;
  width: 8rem;
  height: 32px;
  height: 2rem;
  color: white;
  background-color: rgba(66, 0, 13, .8);
  border: none;
}

.sound-adjustments select:focus {
  outline: none;
}

.sender {
  margin-top: 32px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%
}

.sender label {
  width: 80%;
}

#save {
  margin: 48px auto 0;
  margin: 3rem auto 0;
  background-color: 970022;
  border: none;
}

.link {
  margin: 32px auto;
  margin: 2rem auto;
}

.to {
  color: rgba(242, 242, 242, 1);
  font-size: 1em;
  z-index: -2;
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

a {
  text-decoration: none;
  margin-top: 16px;
  margin-top: 1rem;
  text-transform: none;
  color: #970022;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  -webkit-transition: font-size 0.5s, color 0.5s;
  transition: font-size 0.5s, color 0.5s;
}

#particles-js {
  position: absolute;
  z-index: -89;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3Mvc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/